.a
{width:auto;
 border:1px solid #093
}

.b {
    position: absolute;
    top: 40%;
    font-size: 300%;
    color: white;
    text-align: left;
    overflow: auto;
    padding-left: 100px;
    transform: translateY(-50%);
    max-height:100%;
    max-width:100%;
}

.c {
    width: auto;
    margin: auto;
    background-color: #004359;
    text-align:center;
    text-decoration-color:white;
}

.d {
    background-color: #004359;
    text-align: left;
    padding-left: 100px;
    color: white;
    overflow:hidden;
}

.c div {max-width:33.33%;
        max-height:300px;
        border:solid 1px gray;
        float:left;
        margin-left:0px;
}

.c div img {display:block;
                max-width:100%;}

img, object {
    max-width: 100%;
}

