.How {
    color: #044c64;
    background-color: white;
    /*padding-right:500px;*/
}

.Howto {
    font-style: italic;
    font-size:48px;
}

.Fee {
    font-style: italic;
    font-size: 48px;
}

.number { 
    font-size: 56px;
}

.member {   
    font-size: 30px;
    margin-top: -100px
}
.guidance {
    font-size: 22px;

}

.apply {
    color: white;
    background-color: green;
    border-radius: 30px;
    font-size:26px;
}

.apply:hover {color: black    }

.faq {
    background-color: #044c64;
    color: white;
    font-size: 48px;
    /*padding-right:500px;*/
}

.card1 {
    color: #044c64;
    font-size: 30px;
    background-color: white;
}

.card-link1 {
    color: black;
    font-size: 26px;
    font-style: italic;
}
.span_minus:before {
    content: "-";
}

.span_plus:before {
    content: "+";
}

.want {
    color: #044c64;
    background-color: white;
    font-style: italic;
    /*margin-left:-250px;*/
    font-size: 48px;
}

.donate{
    border-radius: 30px;
    font-size:36px;
   
}

.footer1 {
    background-color: black;
    color: white;
    /*padding-right:500px;*/
}


.fa {
    padding: 10px;
    font-size: 20px;
    width: 45px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}


.fa-facebook {
    background: #3B5998;
    color: white;
}
    
.fa-twitter {
    background: #55ACEE;
    color: white;
} 

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-facebook:hover {
    color: black;
}
.fa-twitter:hover {
    color: black;
}
.fa-linkedin:hover {
    color: black;
}


.btnSub {
    background: #044c64;
    color: #fff;
    border-radius: 30px;
    font-size:28px;
}

.btnSub:hover {
        color: black;
        background: green;   }




