.How {
    color: #044c64;
    background-color: white;
  
   font-style:italic;
}

.Howto {
    font-style: italic;
    font-size:30px;
}

.fee {
    font-style: italic;
    font-size: 30px;
}


.number { 
    font-size: 28px;
}

.member {   
    font-size: 20px;

}

.benefit {
    font-style: italic;
    font-size: 30px;
   
   
}
.guidance {
    font-size: 18px;
}

.apply {
    color: white;
    background-color: green;
    border-radius: 30px;
    font-size:26px;
   
}

.apply:hover {color:black }

.faq {
    background-color: #044c64;
    color: white;
    font-size: 30px;

}

.card1 {
    color: #044c64;
    font-size: 24px;
    background-color: white;
}

.card-link1 {
    color: black;
    font-size: 22px;
    font-style: italic;
}

.want {
    color: #044c64;
    background-color: white;
    font-style: italic;

    font-size: 30px;
}

.donate {
    border-radius: 30px !important;
    
    font-size: 22px !important;
    text-align: center;
}

.footer1 {
    background-color: black;
    color: white;
 
}


.fa {
    padding: 10px;
    font-size: 20px;
    width: 45px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}


.fa-facebook {
    background: #3B5998;
    color: white;
}
    
.fa-twitter {
    background: #55ACEE;
    color: white;
} 

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-facebook:hover {
    color: black;
}
.fa-twitter:hover {
    color: black;
}
.fa-linkedin:hover {
    color: black;
}


.btnSub {
    background: #044c64;
    color: #fff;
    border-radius: 30px;
    font-size:24px;
}

.btnSub:hover {
        color: black;
        background: green;   }

a:hover {
    font-style: italic
}




